<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>welcome</title>
</head>
<body>
    
    <b>name : </b><span sec:authentication="name"></span><br>
    
    <b>username : </b><span sec:authentication="principal.username"></span><br>
    
	<hr>
	
	<div sec:authorize="isAuthenticated()" >
		<span sec:authentication="name"></span>님 환영합니다.&nbsp;
		<input type="button" 
			   value="로그아웃"
			   th:onclick="|location.href='@{/logoutProc}'|" />
	</div>
	
	<hr>
	<b>롤(Role) : </b> 
	<span sec:authorize="isAuthenticated()">
		<b>인증 사용자(사용자/관리자 모두 해당),</b>
	</span>
	&nbsp;
	<span sec:authorize="hasAnyRole('ROLE_USER')">
		<b>사용자</b>
	</span>
	<span sec:authorize="hasAnyRole('ROLE_ADMIN')">
		<b>관리자</b>
	</span>
	
	<hr>
	
	<a th:href="@{'/secured/home'}">사용자용 페이지</a>&nbsp;
	<a th:href="@{'/admin/home'}">관리자용 페이지</a>

</body>
</html>