
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link th:href="@{'/css/health.css'}" rel="stylesheet">
<meta charset="UTF-8">
<title> 메인화면 </title>
<style>
span{
	text-align:left;
}

</style>
</head>
<body>
<!-- <div th:fragment="mainheader"> -->
<section id="header" layout:fragment="header">
<header>
<div align="center" >
<h1>건강한 한끼 추천</h1>
	<nav>
		<ul>
		&emsp;&emsp;&emsp;<li><a> 성적입력 </a></li>
		&emsp;&emsp;&emsp;<li><a > 성적조회 </a></li>
		&emsp;&emsp;&emsp;<li><a > 글 작성</a></li>
		&emsp;&emsp;&emsp;<li><a th:href="@{/studentList}"> 게시판 목록조회 </a></li>
		&emsp;&emsp;&emsp;<li><a > 페이지 나누기 목록 조회. </a></li>
		&emsp;&emsp;&emsp;<li><a > 홈화면 </a></li>
		
		</ul>
	</nav>
</div>
</header>

    <section id="content" layout:fragment="content">
        <!-- Content specific to each page goes here -->
    </section>
</section>
</body>
</html>