<!DOCTYPE html>
<html lang="ko-kr" 
   	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
<meta charset="UTF-8">
<!-- spring security post 전송시 403 문제 패치 -->

<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<title>form</title>
</head>
<body>

	<form th:object="${testVO}" method="post" th:action="@{'/user/action'}">
	
		<label for="id">아이디 : </label>
		<input type="text" name="id" /><br>
		
		<label for="productName">상품명 : </label>
		<input type="text" name="productName"/><br>
		
		<label for="quantity">수량 : </label>
		<input type="text" name="quantity"/><br>
		
		<button type="submit">전송</button>
		
	</form> 

</body>
</html>