<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
error 
{
	padding: 10px;
	color: red;
}

.msg 
{
	padding:10px;
	color:red;
}

#login-box 
{
	width: 250px;
	padding: 30px;
	margin: 0px auto;
	background: #fff;
	border: 1px solid #333;
}
			
td 
{ 
	height: 30px; 
}			
</style>
</head>
<body>
	
	<script th:inline="javascript" th:if="${error == 'true'}">
		alert([[${msg.message}]]);		
	</script> <!-- 에러시 발행하는 팝업창.   -->


	<div id="login-box">

		<h3>Login</h3>
		
	<!-- 	
		<div th:if="${error == 'true'}" class="msg" th:text="${msg}"></div>
		
		<span th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}" 
			  th:text="${'메시지 : ' + session.SPRING_SECURITY_LAST_EXCEPTION.message}">
		</span><br>
			
		<span th:if="${msg != null}" th:text="${'메시지 : ' + msg.message}"></span><br>	
	﻿ -->

		<form id="loginForm" 
			  name="loginForm" 
			  th:action="@{'/login'}"
			  method="POST">
			  <!-- action="<c:url value='j_spring_security_check' />" -->
	 
			<table>
				<tr>
					<td>ID : </td>
					<td><input type="text" 
							   id = "username"	
							   name="username" />
					</td>
				</tr>
				<tr>
					<td>PW : </td>
					<td><input type="text" 
							   id="password"
							   name="password" />
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						
						<input id="login"
							   name="login" 
							   type="submit"
							   value="로그인" />
						&nbsp;
						<input name="reset" 
							   type="reset" 
							   value="취소" />
					    &nbsp;
					    <a th:href="@{/join}">회원가입</a>
					</td>
				</tr>
			</table>
			
			<!-- csrf -->
			<!-- <input type="hidden"                        
				   th:name="${_csrf.parameterName}"
				   th:value="${_csrf.token}"/>  -->
				   
			<!-- remember me 기능 추가 -->
	        <label for="text">Remember me</label>
	        <input type="checkbox" id="remember-me" name="remember-me" /><br>	   
	 
		</form>
	
 	</div> <!-- login box -->	

</body>
</html>
