<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.javateam.STDProject.dao.StudentMapper">
	
	<resultMap type="com.javateam.STDProject.domain.StudentVO" id="StudentResult">
		 <result property="seq" column="seq" />
		 <result property="title" column="title" />
		 <result property="writer" column="writer" />
		 <result property="content" column="content" />
		 <result property="regDate" column="regDate" />
		 <result property="cnt" column="cnt" />
	 </resultMap>
	
	<select id="getBoardList" 
			resultType="com.javateam.STDProject.domain.StudentVO"
			parameterType="String">
		SELECT * FROM board 
	</select>
	
	<select id="getBoard" 
			resultType="com.javateam.STDProject.domain.StudentVO"
			parameterType="int">
		SELECT * FROM board 
		WHERE seq = #{seq}
	</select>
	
<!-- 	<select id="hasUsername" 
			resultType="int"
			parameterType="String">
		SELECT count(*) FROM users
		WHERE username = #{username}
	</select> -->
	
<!-- 	<select id="getUserRolesByUsername" 
			resultType="com.javateam.STDProject.domain.Role"
			parameterType="String">
		SELECT * FROM user_roles 
		WHERE username = #{username}
	</select>
	
	<insert id="insertUser" parameterType="com.javateam.STDProject.domain.Users">
		INSERT INTO users VALUES 
		(#{users.username}, #{users.password}, #{users.enabled})			
	</insert>
	
	<insert id="insertUserRoles">
		INSERT INTO user_roles VALUES 
		(user_roles_seq.nextval, #{username}, #{role})
	</insert>	
	 -->
</mapper>